@font-face {
  font-family: "iconfont"; /* Project id 5010444 */
  src: url('iconfont.woff2?t=1761476838437') format('woff2'),
       url('iconfont.woff?t=1761476838437') format('woff'),
       url('iconfont.ttf?t=1761476838437') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.brook-download:before {
  content: "\e760";
}

.brook-Copy:before {
  content: "\eaa9";
}

.brook-refresh:before {
  content: "\e6a0";
}

.brook-empty:before {
  content: "\e7bb";
}

.brook-token:before {
  content: "\e602";
}

.brook-right:before {
  content: "\e68b";
}

.brook-edit:before {
  content: "\e6b3";
}

.brook-delete1:before {
  content: "\e614";
}

.brook-Stop-Button:before {
  content: "\e801";
}

.brook-web:before {
  content: "\e6c8";
}

.brook-exclamation-circle:before {
  content: "\e820";
}

.brook-Right-1:before {
  content: "\e74e";
}

.brook-delete:before {
  content: "\e687";
}

.brook-Gear-:before {
  content: "\e643";
}

.brook-Diagram-:before {
  content: "\e7a7";
}

.brook-technology_usb-cable:before {
  content: "\ef49";
}

.brook-add:before {
  content: "\e689";
}

.brook-Left-:before {
  content: "\e742";
}

.brook-Right-:before {
  content: "\e74c";
}

.brook-exchange:before {
  content: "\e81d";
}

.brook-igw-f-dashboard:before {
  content: "\e646";
}

.brook-igw-f-flow:before {
  content: "\e649";
}

.brook-igw-f-data-2:before {
  content: "\e65d";
}

.brook-setting:before {
  content: "\e785";
}

.brook-caidan02:before {
  content: "\e601";
}

.brook-arrow:before {
  content: "\e6e9";
}

.brook-networkDiagnosis:before {
  content: "\e834";
}

.brook-dashboard:before {
  content: "\e618";
}

.brook-github:before {
  content: "\e66f";
}

